trigger:
  - main

pool:
  name: bank-pool

steps:
  - checkout: self

  # - task: UsePythonVersion@0
  #   inputs:
  #     versionSpec: "3.10"
  #   displayName: Use Python 3.10
  - script: |
      python3 --version
    displayName: Verify Python

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: Install dependencies

  - script: |
      export PYTHONPATH=$(pwd)
      python3 -m pytest tests -v -m "not db" --junitxml=test-results.xml || true
    displayName: Run unit tests

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: "JUnit"
      testResultsFiles: "test-results.xml"
      failTaskOnFailedTests: true
    displayName: Publish test results
  

