trigger:
  - main

pool:
  name: bank-pool

steps:
  - checkout: self

  # - task: UsePythonVersion@0
  #   inputs:
  #     versionSpec: "3.10"
  #   displayName: Use Python 3.10
  - script: |
      python3 --version
    displayName: Verify Python

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: Install dependencies

  - script: |
      export PYTHONPATH=$(pwd)
      python3 -m pytest -m 'not db' --junitxml=test-results.xml
    displayName: Run tests (skip DB)

  - task : PublishTestresult@2
    inputs:
      testResultsFormat: "JUnit"
      testResultFiles: "test-results.xml"
      failTaskonFailedtests: True
    displayname: Publish Test resutls
  

