trigger:
  - main

pool:
  name: bank-pool

steps:
  - checkout: self

  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.10"
    displayName: Use Python 3.10

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: Install dependencies

  - script: |
      pytest -v
    displayName: Run tests
