trigger:
  - main

pool:
  name: bank-pool

steps:
  - checkout: self

  - script: |
      python3 --version
    displayName: Verify Python

  - script: |
      python3 -m pip install --upgrade pip
      python3 -m pip install -r requirements.txt
    displayName: Install dependencies

# ---UNit test ----
  - script: |
      export PYTHONPATH=$(pwd)
      python3 -m pytest tests -v -m "not db" --junitxml=unit-test-results.xml || true
    displayName: Run unit tests

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: "JUnit"
      testResultsFiles: "unit-test-results.xml"
      testRunTitle: "Unit Tests"
      failTaskOnFailedTests: true
    displayName: Publish unit test results


  - script: |
      docker rm -f ci-postgres || true
    displayName: Remove existing PostgreSQL container

# --- POSTGRESQL (INTEGRATION TESTS) -----
  - script: |
        docker rm -f ci-postgres || true
    displayName: Remove existing PostgreSQL container

  - script: |
      docker rm -f ci-postgres || true
      docker run -d \
        --name ci-postgres \
        -e POSTGRES_USER=testuser \
        -e POSTGRES_PASSWORD=testpass \
        -e POSTGRES_DB=testdb \
        -p 127.0.0.1:5433:5432 \
        postgres:15
    displayName: Start PostgreSQL

  - script: |
      echo "Waiting for PostgreSQL to be ready..."
      for i in {1..10}; do
        docker exec ci-postgres pg_isready && break
        sleep 2
      done
    displayName: Wait for PostgreSQL

  # Initialize database schema (creates tables)
  - script: |
      docker exec -i ci-postgres psql \
        -U testuser \
        -d testdb \
        < db/schema.sql
    displayName: Initialize database schema
  # - script: |
  #     export PYTHONPATH=$(pwd)
  #     export DB_HOST=localhost
  #     export DB_PORT=5433
  #     export DB_USER=testuser
  #     export DB_PASSWORD=testpass
  #     export DB_NAME=testdb

  #     python3 app/database.py
  #   displayName: Initialize database schema


# Run DB integration tests
  - script: |
      export PYTHONPATH=$(pwd)
      export DB_HOST=localhost
      export DB_PORT=5433
      export DB_USER=testuser
      export DB_PASSWORD=testpass
      export DB_NAME=testdb

      python3 -m pytest tests -v -m "db" --junitxml=db-test-results.xml || true
    displayName: Run DB integration tests

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: "JUnit"
      testResultsFiles: "db-test-results.xml"
      testRunTitle: "PostgreSQL Integration Tests"
      failTaskOnFailedTests: true
    displayName: Publish DB test results
  
  - script: |
      docker rm -f ci-postgres || true
    displayName: Cleanup PostgreSQL
    condition: always()

